
.video-caption {
    font-size: 16px;
    text-align: center;
    color: #333;
    font-style: normal !important;
    margin-top: 3px; 
}

.env-name {
    font-family: 'Latin Modern Mono', monospace !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-transform: none !important;
}

.dataset-name {
    font-size: 1.2em; 
    font-variant-caps: small-caps !important;
}